*{
    font-family: "DM Serif Display",serif;
    color: rgb(62, 109, 62);
    background-color: rgb(186, 206, 240);
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    background-color: rgb(186, 206, 240);
}
header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 184, 241);
}
a , button{
    font-family: "DM Serif Display",serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(62, 109, 62);
    text-decoration: none;
    background-color: rgb(152, 184, 241);
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}
.logo{
    font-family: "DM Serif Display",serif;
    font-weight: 1000;
    font-size: 25px;
    color: rgb(44, 80, 44);
    cursor: pointer;
    
}
.navbar{
    list-style: none;
    background-color: rgb(152, 184, 241);
    
}
.navbar li{
    display: inline-block;
    padding: 0px 20px;
    background-color: rgb(152, 184, 241);
}
.navbar li a{
    transition: all 0.3s ease 0s;
    background-color: rgb(152, 184, 241);
}
.navbar li a:hover{
    color: rgb(30, 69, 3); 

}
button{
    padding: 9px 25px;
    background-color: rgba(76, 76, 165, 1);
    color: rgb(145, 174, 145);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(76, 76, 165, 0.8);
    color: rgb(162, 202, 162);
}
div.homebg{
    text-align: center;
    display: flex;
    padding: 0px 38%;
    font-family: "DM Serif Display",serif;
    font-weight: 500;
    font-size: 25px;
    color: rgb(62, 109, 62);
    background-color: rgb(149, 187, 151);
}
h2{
    background-color: rgb(149, 187, 151);
}
.colorname{
    display:block;
    color:rgb(61, 85, 161);
    padding: 0px 10px;
    background-color: rgb(149, 187, 151);
}
div#home{
    background-color: rgb(149, 187, 151);
    height: 500px;
    width: 100%;
    overflow: hidden;
}
p{
    text-align: center;
    padding: 0px 20%;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(149, 187, 151);
}
#fa-arrow-down{
    text-align: center;
    background-color: rgb(149, 187, 151);
}
.fa-solid{
    background-color: rgb(149, 187, 151);
    overflow: hidden;
}
.fa-2xl {
    font-size: 9em;
    line-height: normal;
}
div#aboutme{
    background-color: rgb(62, 109, 62);
    height: 600px;
    width: fit-content;
    overflow: hidden;
}
div.aboutbg{
    text-align: center;
    padding: 0px 0%;
    font-family: "DM Serif Display",serif;
    font-weight: 500;
    font-size: 25px;
    background-color: rgb(62, 109, 62);
    color: rgb(149, 187, 151);
}
#aboutp{
    position: static;
    width: fit-content;
    padding: 20px 20%;
    font-weight: 500;
    font-size: 20px;
    background-color:rgb(62, 109, 62);
    color: rgb(149, 187, 151);
    top: 40px;
}
h3{
    background-color:rgb(62, 109, 62);
    text-align: center;
    color:rgb(163, 163, 217);
    font-size: 50px;
    right: 10%;
    position: relative;
}
div#edu{
    display: grid;
    align-items: center;
    background-color:  rgb(154, 172, 211);
    color:  rgb(188, 228, 190);
    width: 100%;
    height: 600px;
    overflow: hidden;
}
div#edu ul.edutable li a{
    background-color:  rgb(154, 172, 211);
    color:  rgb(45, 77, 114);
    font-size: 23px;
    transition: all 0.3s ease 0s;
}
ul.edutable , li.edli{
    margin-top: 70px;
    text-align: center;
    background-color:  rgb(154, 172, 211);
    overflow: hidden;
}
div#edu ul.edutable li a:hover{
    background-color:  rgb(154, 172, 211);
    color:  rgb(16, 80, 154);
    font-size: 25px;
}
h4{
    background-color:  rgb(154, 172, 211);
    color:rgb(62, 109, 62); 
    font-size: 50px;
    text-align: center;
}
ul.edutable {
    margin-bottom: 300px;
    margin-right: 50px;
    text-align: center;
}
div.contbg a{
    float: left;
    text-align: center;
    padding: 25px 0% ;
    height: 20px;
    width: 400px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
h2#contn{
    text-align: center;
    font-size: 40px;
}
div#contact div.contbg p.conx{
    font-size: 25px;
    position: relative;
    bottom: 60px;
}
img.lap{
    display:inline-flex;
    position:relative;
    height: 200px;
    width: 200px;
    float:left;
    background-color: rgb(62, 109, 62);
    left: 150px;
    top: 200px;
}
.stars{
    position: fixed;
    height: 100%;
    width: 100%;
}