body, html {
    font-family: "DM Serif Display", serif;
    color: rgb(62, 109, 62);
    background-color: rgb(186, 206, 240);
    margin: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    text-align: center;
    background-color: inherit;
    font-size: 2.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: rgb(152, 184, 241);
}

.logo {
    font-size: 2em;
    font-weight: 1000;
    cursor: pointer;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar li a, .ct button {
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.navbar li a:hover{
    color: rgb(91, 137, 59);
}
.ct button:hover {
    font-size: 1.4em;
    color: rgb(146, 189, 114);
    background-color: rgb(91, 91, 161);
}

.ct button {
    padding: 9px 25px;
    background-color: rgba(76, 76, 165, 1);
    color: rgb(145, 174, 145);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#home, #aboutme, #edu {
    padding: 50px 10%;
    background-color: inherit;
    min-height: 600px;
}
#home {
    background-color: rgb(149, 187, 151);
}
#home p, #aboutme p {
    font-size: 1.5em;
}
#home p{
    text-align: center;
}
.homebg, .aboutbg {
    text-align: center;
}

.colorname {
    color: rgb(61, 85, 161);
    text-decoration: wavy rgb(40, 40, 120);
}

#fa-arrow-down {
    text-align: center;
    font-size: 3em;
}

#aboutme {
    display: flex;
    align-items: center;
    background-color: rgb(62, 109, 62);
    color: rgb(149, 187, 151);
}

.lap {
    width: 200px;
    margin-right: 50px;
}

#aboutme p {
    margin: 0 auto;
    max-width: 600px;
}

#edu {
    background-color: rgb(154, 172, 211);
    color: rgb(45, 77, 114);
    position: relative;
}

.edu-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 20px;
}

.edu-icons i {
    font-size: 3em;
    color: rgb(62, 109, 62);
}

.fa-book {
    transform: rotate(-15deg);
}

.fa-scroll {
    transform: rotate(10deg);
}

.fa-graduation-cap {
    transform: rotate(20deg);
}

.edutable {
    text-align: center;
    list-style: none;
    padding: 0;
}

.edutable li {
    margin: 20px 0;
    font-size: 1.8em;
    text-decoration: none;
}

.edutable li a {
    text-decoration: none;
    font-size: 50px;
    color: rgb(44, 105, 174);
}

.edutable li a:hover {
    color: rgb(16, 80, 154);
    font-size: 45px;
}

#contact {
    background-color: rgb(152, 184, 241);
    padding: 50px 10%;
    min-height: 400px;
}

.contbg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contbg a {
    text-align: center;
    padding: 10px;
    flex-basis: 30%;
    text-decoration: none;
    color: inherit;
}

.contbg i {
    display: block;
    font-size: 2.5em;
    color: rgb(62, 109, 62);
}

.conx {
    margin-top: 10px;
    font-size: 1.5em;
}
